@import '../variables';

#visualizationPageWrapper {
  height: 100%;

  .back-arrow-btn {
    position: absolute;
    top: 40px;
    left: 32px;

    width: 64px;

    cursor: pointer;
    border-radius: 10px;

    i {
      filter: $light-grey-filter;
      font-size: 32px;
    }

    &:active {
      margin-top: 2px;
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    width: 100%;
  }

  main {
    height: calc(100% - 30px);

    padding: 0 10px 30px 10px;

    #filterDropdownWrapper {
      display: flex;
      align-items: center;

      gap: 10px;

      width: min-content;
      margin: auto;

      padding-bottom: 20px;
    }

    #chartContainer {
      height: calc(100% - 90px);
    }
  }
}
