@import '../variables';

#mainWrapper {
  background-color: $foreground-color;

  display: grid;
  grid-template-rows: 120px auto;

  height: 100%;

  text-align: center;
}

// Startup Toggle
.form-control {
  width: auto;
}

.form-switch {
  padding-left: 0px;

  .form-check-input {
    margin: 0;
  }
}

#autoStartupCheckboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

#statsList {
  background-color: $foreground-color;

  padding: 0 30px 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow-y: auto;
}

#addStatButton {
  bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  width: 300px;

  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));

  div {
    margin-top: 3px;

    i {
      font-size: 24px;
    }
  }
}
