@import '../variables';

.action {
  height: min-content;

  display: flex;
  align-items: center;
  gap: 10px;

  position: relative;

  background-color: #fff;
  padding: 10px 10px 10px 15px;
  border-radius: 15px;

  i {
    filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(32deg) brightness(89%) contrast(90%);
    height: 30px;
  }

  .remove-action-btn {
    position: absolute;
    right: 15px;

    .delete {
      color: #f96c6c;

      &:active {
        background-color: $foreground-color;
      }
    }
  }
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    width: 110px;
    min-width: 110px;
  }

  p {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
