#filterOptionsModal {
  position: absolute;

  width: 400px;
  height: min-content;

  border-radius: 10px;

  display: grid;
  grid-template-rows: 85px auto 80px;
  top: 50%;
  transform: translate(-50%, -50%);

  > div:first-of-type {
    button {
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 10px;
  }

  #closeButton,
  #optionCard button {
    color: black !important;
  }

  .input-with-label-below {
    width: min-content;
    margin: auto;

    margin-bottom: 30px;
  }

  #optionCard {
    display: grid;
    grid-template-columns: 40px auto 60px;

    justify-content: center;

    column-gap: 20px;

    padding-left: 40px;

    .color-picker-container {
      width: 100%;

      margin-top: 3px;

      display: flex;
      justify-content: flex-end;

      .color-picker {
        appearance: none;
        border: none;

        background-color: transparent;

        width: 30px;
        height: 32px;

        cursor: pointer;

        &::-webkit-color-swatch {
          border-radius: 50%;
          border: 2px solid rgb(156, 156, 156);
        }
      }
    }
  }

  #optionsWrapper {
    max-height: calc(90vh - 165px);
    overflow-y: auto;

    padding: 10px 0px;
  }
}
