#statEditPageWrapper header {
  display: grid;
  height: 94px;
  grid-template-columns: 96px calc(100% - (96px * 2));
  align-items: center;
  text-align: center;
  padding: 10px; }
  #statEditPageWrapper header button {
    cursor: pointer;
    border-radius: 10px; }
    #statEditPageWrapper header button i {
      filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(32deg) brightness(89%) contrast(90%);
      font-size: 32px; }
    #statEditPageWrapper header button:hover {
      background-color: #e4e4e4; }
    #statEditPageWrapper header button:active {
      background-color: #cacaca;
      margin-top: 2px; }
  #statEditPageWrapper header > div {
    width: 100%; }
    #statEditPageWrapper header > div .input-with-label-outside {
      width: min-content;
      margin: auto;
      position: relative; }
      #statEditPageWrapper header > div .input-with-label-outside input {
        height: 40px;
        width: min-content !important;
        text-align: center;
        font-size: 24px;
        border-radius: 10px; }
        #statEditPageWrapper header > div .input-with-label-outside input:focus + p {
          top: -26px; }
      #statEditPageWrapper header > div .input-with-label-outside p {
        position: absolute;
        left: 0;
        top: -22px;
        color: #777777;
        transition: 0.15s ease; }

#statEditPageWrapper main {
  text-align: center;
  padding: 0 40px 0 40px; }
  #statEditPageWrapper main hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }

#statNameInput {
  background-color: #e6e6e6;
  border: none; }

#addFilterButton {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: auto;
  margin-top: 20px; }

#saveEditsButton {
  width: 200px; }

.input-with-label-below {
  position: relative; }
  .input-with-label-below input:focus + p {
    top: 40px; }
  .input-with-label-below p {
    position: absolute;
    left: 0px;
    top: 36px;
    color: #777777;
    transition: 0.15s ease; }

#statFilterForm {
  max-height: calc(100vh - 374px);
  overflow-y: auto; }
  #statFilterForm > div:last-of-type hr {
    border-top: 1px solid #fff; }

.filter-template-edit {
  min-height: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 2px;
  align-items: center;
  justify-content: center;
  column-gap: 20px; }
  .filter-template-edit .input-with-label-below {
    margin-bottom: 20px; }
  .filter-template-edit button:first-of-type {
    height: 40px;
    color: white !important; }
  .filter-template-edit .remove-filter-proto-btn,
  .filter-template-edit #optionCard button,
  .filter-template-edit #filterOptionsModal #closeButton {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 6px; }
    .filter-template-edit .remove-filter-proto-btn > div,
    .filter-template-edit #optionCard button > div,
    .filter-template-edit #filterOptionsModal #closeButton > div {
      padding-top: 2px; }
    .filter-template-edit .remove-filter-proto-btn i,
    .filter-template-edit #optionCard button i,
    .filter-template-edit #filterOptionsModal #closeButton i {
      filter: invert(10%) sepia(94%) saturate(4958%) hue-rotate(357deg) brightness(90%) contrast(91%);
      font-size: 24px;
      padding-top: 2px; }
    .filter-template-edit .remove-filter-proto-btn:hover,
    .filter-template-edit #optionCard button:hover,
    .filter-template-edit #filterOptionsModal #closeButton:hover {
      background-color: #e4e4e4; }
    .filter-template-edit .remove-filter-proto-btn:active,
    .filter-template-edit #optionCard button:active,
    .filter-template-edit #filterOptionsModal #closeButton:active {
      background-color: #cacaca;
      margin-top: 2px; }
  .filter-template-edit hr {
    grid-column: 1 / column2-end; }
